langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
arxiv
pymupdf
wikipedia
langchain-groq
pdfplumber
streamlit
bs4
python-docx
unstructured
docx2txt
rank_bm25
markdown
pysqlite3-binary